

<ion-view view-title="{{ 'reference' | translate }}">
  <ion-content class="padding">
   <div class="card">
      <div class="item item-text-wrap">
         <a class="item" href="#" onclick="window.open('http://www.tbsn.org/chinese3/', '_system', 'location=yes'); return false;">
          http://www.tbsn.org/chinese3/
        </a>  
        <a class="item" href="#" onclick="window.open('http://www.tblibrary.org', '_system', 'location=yes'); return false;">
          http://www.tblibrary.org
        </a>  
      </div>
    </div>
  </ion-content>
</ion-view>